<head>


</head>
<body class=" bgg-dash">
    <%- include('./header.ejs') %>
   <div class="container mt-5 p-3 border rounded-2 glass">
    <div class="row">
<div class="col-3">
    <%- include('./left.ejs') %>


</div>
<div class="col-9 text-light">

    <div class="p-3 border rounded-2">


<% if(data.length>0) { %>
      <table class="table text-light text-center">
        <tr class="">
<th >S.No</th>
<th >Username</th>
<th >Password</th>
<th >Email</th>
<th >Phone Number</th>
<th >Action</th>


        </tr>
          <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= i+1 %><S.NO</td>
            <td><%= data[i].uname %></td>
            <td class="text-break w-25"><%= data[i].password %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].phone %></td>

<td>
            <a href="/delete/<%= data[i]._id %>" class=" px-2"><i class="fa fa-solid fa-trash"></i></a>
            <a href="/edit/<%= data[i]._id %>" class=" px-2"><i class="fas fa-solid fa-pen"></i></a>
            <a href="/show/<%= data[i]._id %>" class=" px-2"><i class="fa fa-solid fa-eye"></i></a>
          </td>
          </tr>
          <% } %>        
      </table>
<% } else { %>
  no record
  <% } %>


  </div>
</div>
</div>
</div>

</body>