<%- include('./common/header.ejs') %>

  <body>



    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel carousel-fade bgshadow mt-5" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active carousel-animation" data-bs-interval="5000">
          <img src="images/s1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DO passionately</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/slider2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">LIVE meaningfully</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/slider3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DREAM fearlessly</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">LIVE meaningfully</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DO passionately</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s4.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DREAM fearlessly</div>
          </div>
        </div>


      </div>

    </div>


    <!-- Quete -->

    <div class="container py-5 text-center">
      <div class="col-12 display-6 px-2 animation_out">

        Add some edge to your wardrobe. We have the latest techwear pants, jackets, hoodies, shoes, masks and more.
      </div>
    </div>

    <!-- tabs -->

    <div class="container-fluid bgshadow px-5 bg1 animation_out">
      <div class="container pb-5  text-center">
        <div class="py-5 display-5 fw-bold "><span class="border-bottom ">Collection List</span></div>

        <div class="row bgshadow ">
          <div class="col-sm-6 col-12 p-0 animation_out"><a href="/T-shirts"
              class="text-light text-decoration-none"><img src="images/1.png" alt="" class="img-fluid bgshadow"
                loading="lazy">
              <h1 class="aa fw-bold bgshadow ">T-shirts</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/2.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="b fw-bold bgshadow">Joggers</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Sneakers" class="text-light text-decoration-none"><img
                src="images/4.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="c fw-bold bgshadow">Sneakers</h1>
            </a></div>


          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/3.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="d fw-bold bgshadow">Hoddie</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/5.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="e fw-bold bgshadow">Upper Wear</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/6.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="f fw-bold bgshadow">Lower Wear</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="" class="text-light text-decoration-none"><img
                src="images/7.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="g fw-bold bgshadow">juwls</h1>
            </a></div>

          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/T-shirts" class="text-light text-decoration-none"><img
                src="images/8.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="h fw-bold bgshadow">Coats</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/9.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="i fw-bold bgshadow">Hoddie</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/T-shirts" class="text-light text-decoration-none"><img
                src="images/10.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="j fw-bold bgshadow">Full sleevs</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/11.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="k fw-bold bgshadow">NInjas</h1>
            </a></div>
        </div>
      </div>
    </div>


    <!--weekly  offer -->

    <div class="container ">
      <div class="py-5 mb-5 display-5 fw-bold text-center animation_in"><span class="border-bottom">Weekly Offer</span>
      </div>

      <div class="row my-4 bgshadow bg3">
        <div class="col-sm-1 col-2  my-4  animation_left">
          <% for(i=0;i<sideimg.length;i++) {%>
            <% sideimg[i].pfile.slice(0, 4).forEach(filename=> { %>
              <div class="col-12  mb-1 "><img src="/static/product/<%= filename %>" alt="" class="img-fluid bgshadow rounded-2"
                  loading="lazy"></div>
              <% }) %>

        </div>
        <div class="col-sm-5 col-10 my-4 animation_left">

          <div class="col-10">
            <!-- <img src="/static/product/<%=sideimg[i].pfile.slice(0, 1) %>" alt="" class="img-fluid  bgshadow"
              loading="lazy"> -->


              <div id="carouselExampleSlidesOnly<%= i %>" class="carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% var imgg = sideimg[i].pfile.slice(0, 6) %>
                  <% imgg.forEach((element, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                      <img src="/static/product/<%= element %>" class="d-block img-fluid fit-contain rounded-2"  alt="...">
                    </div>
                  <% }) %>
                </div>
              </div>




          </div>
        </div>
        <div class="col-sm-6 col-12 my-4 animation_right">
          <h2 class=" animation_right">
            <%=sideimg[i].pname %>
          </h2>

          <span class="text-light star py-3 fs-4 animation_right"> ★ ★ ★ ★ ★</span>
          <div class="h5 fs-light pb-4 animation_right"> <del> Rs. <%=sideimg[i].pdiscount %></del> Rs.
            <%=sideimg[i].pprice %>
          </div>
          <%}%>
          <div class=" pb-4 animation_right">
            <label for="" class="h5">COLOR</label> <label for="" class="h5 ps-5">SIZE</label> <label for=""
                class="h5 ps-5">Pair</label><br>
            <select id="" class="bgshadow rounded-1" name="pcolor">
                <option value="Black ">Black</option>
                <option value="White">White</option>
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
            </select>
            <select id="" class="ms-3 ps-4  rounded-1 bgshadow" name="psize">
                <option value="S ">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
            <select id="" class="ms-3 ps-5  rounded-1 bgshadow" name="pquantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
            <div class="col-12 animation_right">
              <button class="btn btn-outline-light h1 w-100 rounded-2 bgshadow " data-bs-toggle="modal"
                data-bs-target="#static">QUICK VIEW</button>
            </div>
        </div>
      </div>
    </div>


    <!-- model -->
    <div class="modal fade" id="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop"
      aria-hidden="true">
      <div class="modal-dialog  modal-dialog-scrollable modal-lg">
        <div class="modal-content  bg-dark text-light">
          <div class="modal-header">
            <h1 class="modal-title fs-5 " id="staticBackdrop">Quick View</h1>
            <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body  text-light">
            <div class="container my-5 bg3">
              <div class="row p-5  bgshadow ">
                <div class="col-lg-1 col-sm-2  pt-2">
                  <form action="addtocart" method="post">
                  <% for(i=0;i<sideimg.length;i++) {%>
                    <% sideimg[i].pfile.slice(0, 6).forEach(filename=> { %>
                      <div class="col-12 mb-3"><img src="/static/product/<%= filename %>" alt=""
                          class="img-fluid bgshadow" loading="lazy"></div>
                      <% }) %>
                      <input type="hidden" name="ptype" id="" value="<%= sideimg[i].ptype %>">
                      <input type="hidden" name="pfile" id=""  value="<%=sideimg[i].pfile.slice(0, 1) %>">
                      <input type="hidden" name="pname" value="<%= sideimg[i].pname %>" id="">
                      <input type="hidden" name="pprice" id="" value="<%= sideimg[i].pprice %>">
                </div>
                <div class="col-lg-5 col-sm-10">


                  <div class="col-12 bgshadow">
                    <div id="carouselExampleSlidesOnly<%= i %>" class="carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <% var imgg = sideimg[i].pfile.slice(0, 6) %>
                        <% imgg.forEach((element, index) => { %>
                          <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                            <img src="/static/product/<%= element %>" class="d-block img-fluid fit-contain rounded-2"  alt="...">
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <h2>Dontae Catlett - - <%=sideimg[i].pname %>
                  </h2>
                  <span class="text-light star fs-4 my-3"></span>

                  <div class="h5 fs-light pb-4"><del> Rs. <%=sideimg[i].pdiscount %></del> Rs. <%=sideimg[i].pprice %>
                  </div>

                  <div class=" pb-4 animation_right">
                    <label for="" class="h5">COLOR</label> <label for="" class="h5 ps-5">SIZE</label> <label for=""
                        class="h5 ps-5">Pair</label><br>
                    <select id="" class="bgshadow rounded-1" name="pcolor">
                        <option value="Black ">Black</option>
                        <option value="White">White</option>
                        <option value="Red">Red</option>
                        <option value="Orange">Orange</option>
                    </select>
                    <select id="" class="ms-3 ps-4  rounded-1 bgshadow" name="psize">
                        <option value="S ">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                    <select id="" class="ms-3 ps-5  rounded-1 bgshadow" name="pquantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                  <div class="col-12  ">
                    <button class="btn btn-outline-light h4 w-100 rounded-2 bgshadow">BUY NOW</button>
                    <button class="btn btn-outline-light h4 w-100 rounded-2 bgshadow" type="submit">ADD TO CART</button>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <div class="modal-footer  bg-dark">
            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"> Close</button>
            <a href="/<%=sideimg[i].ptype %>"  class="text-decoration-none text-light"><button type="button" class="btn btn-outline-light">
              View Full</button></a>
            <%}%>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- shoes -->
    <h1 class="pt-2  fw-bold text-center animation_in"><span class="border-bottom txshadow "> Sneak Peak at some of our
        Shoes</span>
    </h1>

    <div class="container py-5 my-5">

      <div class="row">

        <% for(i=0; i<Sneakers.length;i++) {%>
          <div class="col-lg-2 col-sm-4  my-2 animation_left">
            <a href="/product<%= Sneakers[i]._id %>">
              <div class="card border-0 rounded-0 bg-transparent bgshadow">
                <img src="/static/product/<%= Sneakers[i].pfile %>" class="card-img-top" alt="..." loading="lazy">
                <div class="card-body text-light">
                  <h5 class="card-title">
                    <%= Sneakers[i].pname %> | URBXN.1 Techwear
                  </h5>
                  <span class="text-light star fs-4 py-3"></span>

                  <p class="card-text"> <del> ₹ <%= Sneakers[i].pdiscount %></del>₹ <%= Sneakers[i].pprice %>
                  </p>
                  <span class="d-flex">
                    <% var d=Sneakers[i].pcolr %>
                      <% for(j=0; j<d;j++) {%>
                            <div class="rounded-circle me-2 ctype"></div>
                        <%}%>

        
     
                  </span>
                </div>
              </div>
            </a>
          </div>

          <%}%>

      </div>
      <div class="col-12 text-center py-5 my-2">
        <button class="btn btn-outline-light  rounded-2 w-25 bgshadow animation_in"><a href="/Sneakers"
            class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>
      <div class="col-12 text-center py-5  bgshadow animation_out">
        <h2 class=" fw-bold">TEXT US!!</h2>
        <h5>Got Questions? email us at <a href="mailto:ajlazer002@gmail.com"
            class="text-decoration-none text-light">ajlazer002@gmail.com ⤤</a></h5>

      </div>

    </div>


    <!-- animation -->

    <div class="container py-5 my-5  bgshadow bg1">
      <div class="row ">
        <div class="col-sm-6 col-12 animation_left">
          <div class="col-8 p-5 ">
            <div class="la anime4">
              <a href="/Sneakers"> <img src="images/shoes/7.png" alt="" class="img-fluid a animation1" width="180"
                  loading="lazy">
                <img src="images/shoes/2.jpg" alt="" class="img-fluid a animation2" width="250" loading="lazy">
                <img src="images/shoes/p5.webp" alt="" class="img-fluid a animation3" width="200" loading="lazy">
                <img src="images/shoes/p1.webp" alt="" class="img-fluid a animation4" width="230" loading="lazy">
                <img src="images/shoes/1.webp" alt="" class="img-fluid a animation" width="150" loading="lazy"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12 animation_right">
          <h5>BRAND NEW</h5>
          <h1>Premium Shoe Collection</h1>
          <h4>Check out Ninja Dark's new line of shoes to perfectly compliment your TechWear.</h4>
          <button class="btn btn-outline-light h4 rounded-2">Shop Shoes</button>
          <button class="btn btn-outline-light h4 rounded-2">Shop All Collections</button>
        </div>
      </div>
    </div>


    <!-- lowers -->

    <div class="container ">
      <div class="row ">

        <h1 class="py-5  fw-bold text-center animation_in"><span class="border-bottom">Sneak Peak at some of our
            Joggers</span></h1>

      
  

        <% for(i=0; i<Joggers.length;i++) {%>
          <div class="col-lg-2 col-sm-4  my-2 animation_left">
            <a href="/product<%= Joggers[i]._id %>">
              <div class="card border-0 rounded-0 bg-transparent bgshadow">
                <img src="/static/product/<%= Joggers[i].pfile %>" class="card-img-top" alt="..." loading="lazy">
                <div class="card-body text-light">
                  <h5 class="card-title">
                    <%= Joggers[i].pname %> | URBXN.1 Techwear
                  </h5>
                  <span class="text-light star fs-4 py-2"></span>

                  <p class="card-text"> <del> ₹ <%= Joggers[i].pdiscount %></del>₹ <%= Joggers[i].pprice %>
                  </p>
                  <span class="d-flex">
                    <% var d=Joggers[i].pcolr %>
                      <% for(j=0; j<d;j++) {%>
                            <div class="rounded-circle me-2 ctype"></div>
                        <%}%>

                  </span>
                </div>
              </div>
            </a>
          </div>

          <%}%>

        </div>
  

      </div>
      <div class="col-12 text-center py-5 ">
        <button class="btn btn-outline-light rounded-2 w-25 animation_out bgshadow"><a href="/Joggers"
            class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>



    </div>

    <!-- upper -->

    <div class="container ">
      <h1 class="py-2 fw-bold text-center py-5 animation_out"><span class="border-bottom ">Sneak Peak at some of our
          Upper</span></h1>

      <div class="row">

        <% for(i=0; i<Hoodie.length;i++) {%>
          <div class="col-lg-2 col-sm-4  my-2 animation_left">
            <a href="/product<%= Hoodie[i]._id %>">
              <div class="card border-0 rounded-0 bg-transparent bgshadow">
                <img src="/static/product/<%= Hoodie[i].pfile %>" class="card-img-top" alt="..." loading="lazy">
                <div class="card-body text-light">
                  <h5 class="card-title">
                    <%= Hoodie[i].pname %> | URBXN.1 Techwear
                  </h5>
                  <span class="text-light star fs-4 py-2"></span>

                  <p class="card-text"> <del> ₹ <%= Hoodie[i].pdiscount %></del>₹ <%= Hoodie[i].pprice %>
                  </p>
                  <span class="d-flex">
                    <% var d=Hoodie[i].pcolr %>
                      <% for(j=0; j<d;j++) {%>
                        
                      <div class="rounded-circle me-2 ctype"></div>
                        <%}%>

                  </span>
                </div>
              </div>
            </a>
          </div>
          <%}%>

      </div>
      <div class="col-12 text-center py-5">
        <button class="btn btn-outline-light animation_out rounded-2 w-25 bgshadow"><a href="/T-shirts"
            class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>

    </div>

    <!-- animation -->
    <div class="container py-5 bgshadow bg3">
      <div class="row">
        <div class="col-sm-6 col-12 animation_left">
          <div class="col-8 p-5">
            <div class="la anime4">

              <a href="/Hoodie"> <img src="images/pants/5.png" alt="" class="img-fluid a animation1" width="180"
                  loading="lazy">
                <img src="images/2.png" alt="" class="img-fluid a animation2" width="190" loading="lazy">
                <img src="images/pants/2.png" alt="" class="img-fluid a animation3" width="200" loading="lazy">
                <img src="images/pants/12.webp" alt="" class="img-fluid a animation4" width="200" loading="lazy">
                <img src="images/pants/4.png" alt="" class="img-fluid a animation" width="160" loading="lazy"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12 animation_right">
          <h5>BRAND NEW</h5>
          <h1>Premium Clothes Collection</h1>
          <h4 class="mb-4">Check out Ninja Dark's new line of Clothes to perfectly compliment your TechWear.</h4>
          <button class="btn btn-outline-light bgshadow rounded-2">Shop Clothes</button>
          <button class="btn btn-outline-light bgshadow rounded-2">Shop All Collections</button>
        </div>
      </div>
    </div>


    <!-- sign up -->
    <div class="container-fluid text-center py-5 my-5 bg1  bgshadow">
      <div class="col-12  py-5 my-5">
        <h1 class=" fw-bold animation_out">Sign up & Save</h1>
        <h4 class="py-4 animation_out">Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.
        </h4>
        <div class="animation_out">
          <input type="search" class="border-0 p-2 out w-25" placeholder="Enter your Email"><button
            class="border-0 p-2  bg-black text-light px-5 ">Subscribe</button>
        </div>

      </div>
    </div>

    <!-- sign up -->
    <div class="container text-center py-5 my-5 ">
      <div class="display-5 mb-5 fw-bold animation_out"><span class="border-bottom txshadow">Our Guarantees</span></div>
      <div class="row  justify-content-center py-4">
        <div class="col-sm-3 animation_out">
          <img src="images/shipping.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

        <div class="col-sm-3 animation_out">
          <img src="images/30days.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

        <div class="col-sm-3 animation_out">
          <img src="images/100p.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

      </div>
    </div>








    <%- include('./common/footer.ejs') %>

  </body>
  <script>
    // ScrollReveal({
    //   reset: true,
    //   distance: "60px",
    //   duration: 2500,
    //   delay: 400
    // });

    // ScrollReveal().reveal('.animation_in', { delay: 500, origin: 'top', interval: 200 });
    // ScrollReveal().reveal('.animation_out', { delay: 500, origin: 'bottom', interval: 200 });
    // ScrollReveal().reveal('.animation_left', { delay: 500, origin: 'left', interval: 200 });
    // ScrollReveal().reveal('.animation_right', { delay: 500, origin: 'right', interval: 200 });

  </script>