

<head>

</head>

<body>
<%- include('./common/header.ejs') %>

<!-- carousel -->


<div class="container-fluid text-center my-5  bgshadow pt-5 animation_in">
            <div class="row ">
                <div id="recipeCarousel" class="carousel slide ala " data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <% for(i=0; i<Sneakers.length;i++) {%>
                        <div class="carousel-item <%= i=== 0 ? 'active' :' ' %> alla" data-bs-interval="2000">
                            <div class="col-md-3">
                                <a href="/product<%= Sneakers[i]._id %>" class="text-decoration-none text-light">
                                    <div class="card bg-transparent border border-0 bgshadow pb-3">
                                        <div class="card-img text-center">
                                            <img src="/static/product/<%= Sneakers[i].pfile %>" class="img-fluid "
                                                loading="lazy" width="500" height="300">
                                        </div>
                                        <div class="card-body text-light">
                                            <h5><%= Sneakers[i].pname %></h5>
                                    
                                            <span class="text-light star fs-4"></span>
                                            <P class="fw-bold"> ₹<%= Sneakers[i].pdiscount %> <del class="text-body">₹<%= Sneakers[i].pprice %> </del></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                <%}%>
                    </div>

                    </a>
                </div>
            </div>

</div>


<!-- items -->

<div class="container my-5 p-5 bgshadow animation_out">

            <div class=" fw-bold h1 text-center mb-5"><span class="border-bottom"> Urban Sneakers</span></div>
            <div class="text-end pb-4">Sort By
                <span class=" ">
                    <button class="border-0 bg rounded-2 pt-1 bgshadow" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        <img src="images/filte.svg" alt="" width="38"></button></span>
                <span class=" fw-bold mt-5 ">
    
                    <select name="country" id="" class="py-2 bgshadow ">
                        <option value="location">Name (A-Z)</option>
                        <option value="location">Name (Z-A)</option>
                        <option value="location">Price(High-To-Low)</option>
                        <option value="location">Price(Low-To-High)</option>
                        <option value="location">Rating(High-To-Low)</option>
                        <option value="location">Rating(Low-To-High)</option>
                    </select>
                </span>
                 </div>
                <div class="offcanvas offcanvas-start search text-light" data-bs-backdrop="static" tabindex="-1"
                id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title h1 fw-bold" id="staticBackdropLabel">FILTER</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
    
                    <div>
                        <label for="" class="border-bottom w-100 pb-3 h5 fw-bold">Rating</label> <br>
                        <span class=" pb-1 ">
    
                            <input type="checkbox" class="me-5"> <img src="images/5s.png" alt="" ><br>
                            <input type="checkbox" class="me-5"> <img src="images/4s.png" alt=""><br>
                            <input type="checkbox" class="me-5"> <img src="images/3s.png" alt=""><br>
                            <input type="checkbox" class="me-5"> <img src="images/2s.png" alt=""><br>
                            <input type="checkbox" class="me-5"> <img src="images/2s.png" alt=""><br>
    
                        </span>
                    </div>
    
    
                    <div>
                        <label for="" class="border-bottom w-100 py-3 h5 fw-bold">Color</label> <br>
                        <span class=" pb-1 ">
    
                            <input type="checkbox" class="me-5">Red<br>
                            <input type="checkbox" class="me-5">Black<br>
                            <input type="checkbox" class="me-5">Blue<br>
                            <input type="checkbox" class="me-5">Green<br>
                            <input type="checkbox" class="me-5">White<br>
    
                        </span>
                    </div>
    
                    <div>
                        <label for="" class="border-bottom w-100 py-3 h5 fw-bold">Brand</label> <br>
                        <span class=" pb-1 ">
    
                            <input type="checkbox" class="me-5">H&M<br>
                            <input type="checkbox" class="me-5">Zara<br>
                            <input type="checkbox" class="me-5">Puma<br>
                            <input type="checkbox" class="me-5">Adidas<br>
                            <input type="checkbox" class="me-5">PtaNI<br>
    
                        </span>
                    </div>
    
    
                    <div>
                        <label for="" class="border-bottom w-100 py-3 h5 fw-bold">Wear Type</label> <br>
                        <span class=" pb-1 ">
    
                            <input type="checkbox" class="me-5">Full Sleev<br>
                            <input type="checkbox" class="me-5">Half Sleev<br>
                            <input type="checkbox" class="me-5">Inner Wear<br>
                            <input type="checkbox" class="me-5">Over Size<br>
                            <input type="checkbox" class="me-5">Liight Wear<br>
     
                        </span>
                    </div>
    
                    <div>
                        <label for="" class="border-bottom w-100 py-3 h5 fw-bold">Price Range</label> <br>
                        <span class=" pb-1 ">
                            <label for="" class="py-2">1000-51000</label><br>
                            <input type="range" class="me-5 w-75">
                        </span>
                    </div>
                </div>
            </div>

                <div class="row ">
                    <% for(i=0; i<Sneakers.length;i++) {%>
                <div class="col-lg-3 col-sm-4 animation_out">
                    <a href="/product<%= Sneakers[i]._id %>" class="text-decoration-none text-light">
                        <div class="card border-0 rounded-0 bg-transparent bgshadow my-3">
                            <img src="/static/product/<%= Sneakers[i].pfile %>" class="card-img-top" alt="..." loading="lazy">
                            <div class="card-body  text-light">
                                <h4 class="card-title"><%= Sneakers[i].pname %></h4>
                               <span class="text-light star fs-4"></span>
                                <div class="card-text h5 py-2"> <del> Rs. <%= Sneakers[i].pdiscount %></del> Rs. <%= Sneakers[i].pprice %></div>
                                <div class="d-flex">
                                  <%  var d = Sneakers[i].pcolr %>
                                    <% for(j=0; j<d;j++) {%>
                                        <div class="rounded-circle me-2 ctype"></div>
                                   <%}%>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <%}%>
          
</div>
</div>


<!-- bottom c -->
<div class="container-fluid text-center my-5  bgshadow animation_in">
            <h1 class="fw-bold  py-4 ">RELATED PRODUCTS</h1>
            <div class="row">
                <div id="recipeCarousel" class="carousel slide ala " data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <% for(i=0; i<Sneakers.length;i++) {%>
                            <div class="carousel-item <%= i=== 0 ? 'active' :' ' %> alla" data-bs-interval="2000">
                                <div class="col-md-3">
                                    <a href="/product<%= Sneakers[i]._id %>" class="text-decoration-none text-light">
                                        <div class="card bg-transparent border border-0 bgshadow">
                                            <div class="card-img">
                                                <img src="/static/product/<%= Sneakers[i].pfile %>" class="img-fluid "
                                                    loading="lazy">
                                            </div>
                                            <div class="card-body text-light">
                                                <h5><%= Sneakers[i].pname %></h5>
                                                <span class="text-light star fs-4"></span>
                                                <P class="fw-bold"> ₹<%= Sneakers[i].pdiscount %> <del class="text-body">₹<%= Sneakers[i].pprice %> </del></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    <%}%>
                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

</div>


<%- include('./common/footer.ejs') %>
</body>
<script>let items = document.querySelectorAll('.ala .alla')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })
ScrollReveal({ reset: true,
distance:"60px",
duration:2500,
delay:400});

ScrollReveal().reveal('.animation_in', { delay: 500,origin:'top',interval:200 });
ScrollReveal().reveal('.animation_out', { delay: 500,origin:'bottom',interval:200 });
ScrollReveal().reveal('.animation_left', { delay: 500,origin:'left',interval:200 });
ScrollReveal().reveal('.animation_right', { delay: 500,origin:'right',interval:200 });

</script>